
	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root font size declared below to allow easier use of rem's */
html {
	font-size: 10px;
}
/* BELOW, basic body attributes used throughout, */
body {
	margin-top: 1rem;
	font-family: "Bai Jamjuree", sans-serif; /*body font*/
	font-weight: 400;
	line-height: 1.7;
	color: #000;
	/* TODO */
	/* height: auto; */
	/* background-image: radial-gradient(at center, #3498db, #9b59b6); */
	/* background-image: radial-gradient(at center, #182848, #4b6cb7); */
	/* background-image: linear-gradient(to right bottom, #182848, #4b6cb7); */
	background-image: linear-gradient(45deg, #182848, #4b6cb7);
}