
	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root font size declared below to allow use of rem's  62.5% = 10px*/
html{
    font-size: 62.5%;
}
/* BELOW, basic body attributes used throughout, */
body {
	font-family: "Bai Jamjuree", sans-serif; /*body font*/
	font-weight: 400;
	line-height: 1.7;
	color: #000;
	/* TODO */
	/* height: auto; */
	/* background-image: radial-gradient(at center, #3498db, #9b59b6); */
	/* background-image: radial-gradient(at center, #182848, #4b6cb7); */
	/* background-image: linear-gradient(to right bottom, #182848, #4b6cb7); */
	background-image: linear-gradient(45deg, #182848, #4b6cb7);

	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start; */

}