@import "buttons.css";
@import "text.css";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root font size declared below to allow use of rem's  62.5% = 10px*/
html{
    font-size: 62.5%;
}
/* BELOW, basic body attributes used throughout, */

.go-to-dashboard {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 2rem;
	width: 75%;
	order: 1;
}
.go-to-h2 {
	font-family: 'Bai Jamjuree', sans-serif;
}
.go-to-p {
	margin: 2rem 0;
}

.about-app{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
/* align-content: center; */
	text-align: center;
	padding: 1rem 2rem;
	width: 75%;
	order: 1;
	min-height: 700px;
}
.about-app >h2 {
	font-size: 2rem;
	margin: 2rem 0;
}
.about-app >h3 {
	font-size: 1.8rem;
}
.about-app >h4 {
	font-size: 1.6rem;
}
.about-span {
	font-weight: bold;
	text-transform: uppercase;
}
.about-app >p {
	margin: 0 0 4rem 0;
	line-height: 3rem;

}
.about-directions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 3rem;
}
.about-log,
.about-reg {
	align-items: center;
	flex-wrap: wrap;
}
.about-log >p,
.about-reg >p {
	font-size: 1.7rem;
}
.btn-about {
	margin: 1rem 0 3rem 0;
	width: 30rem;
}
.link-about {
	color: #fcfcfc;
}
.link-about:hover,
.link-about:active {
	color: purple;
}


@media only screen and (max-width: 400px){
	.btn-about {
	width: 23rem;
	}
}