.app {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	/* TODO */
	/* background-image: linear-gradient(45deg, #182848, #4b6cb7); */

}
#app-main-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	/* TODO  */
	/* height: 100vh; */
}
