.menu-container {
  background: none;
  border: none;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0px;
}

.menu-container button {
  border: none;
  margin-bottom: 8px;
  position: relative;
  right: 0px;
  top: 3px;
}

.menu-container button:enabled:hover {
  border: none;
}

.menu-container button:hover,
.menu-container button:focus {
  color: white;
}

.menu-icon {
  background: none;
  color: #DBBC34;
}

.menu {
  box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  display: block;
  position: relative;
  width: fit-content;
  z-index: 100;
}

.menu ul {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  text-align: left
}

.menu li {
  background: white;
  padding: 6px;
}

.menu li:hover,
.menu li:focus {
  background: #DBBC34;
}
