
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root font size declared below to allow easier use of rem's */
html {
	font-size: 10px;
}
.btn {
	padding: 1rem 0;
	margin: 2rem;
	box-shadow: 0 .4rem .6rem 0 rgba(0, 0, 0, 0.4);
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	border: transparent;
	border-radius: 1rem;
	cursor: pointer;
}
.btn-small {
	width: 10rem;
	margin-left: 0;
}
.btn-med {
	width: 15rem;
}
.btn-large {
	width: 30rem;
}
.btn-blue {
	background-color:#122375;
	background-color: rgba(18, 35, 117, .7);
	color: #FCFCFC;
	height: 45px;
}
.btn-blue:hover,
.btn-blue:active {
	background-color:#FCFCFC;
	color: #122375;
}
.btn-green {
	background-color: #42623E;
	background-color:	rgba(66, 98, 62, .7);
	color: #FCFCFC;
	}
.btn-green:hover,
.btn-green:active {
	background-color:#FCFCFC;
	color: #42623E;
}
.btn-yellow1 {
		background-color: #766016;
		color: #FCFCFC;
	}
.btn-yellow1:hover,
.btn-yellow1:active {
	background-color:#FCFCFC;
	color: #766016;
}
.btn-yellow2{
		background-color:#DBBC34;
		color: #122375;
	}
.btn-yellow2:hover,
.btn-yellow2:active {
	background-color: #122375;
	color: #DBBC34;
}
.btn-white {
		background-color: #FCFCFC;
		color: #122375;
}
.btn-white:hover,
.btn-white:active {
	background-color: #122375;
	background-color: #737373;

	color: #FCFCFC;
}
.btn-red {
	background-color:#cd3d20;
	background-color: rgba(205, 61, 32, .7);
	color: #FCFCFC;
}
.btn-red:hover,
.btn-red:active {
	background-color:#FCFCFC;
	color: #cd3d20;
}
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	background-color: gray;
	color: black;
}
.disabled:hover{
	background-color: gray;
	color: black;
}

