@import "buttons.css";
@import "text.css";

.dashboard {
		min-height: 650px;
		width: 100%;
}
.search-tagline {
	font-size: 2rem;
	padding: 1rem;
}
.search-results{
	padding: 1rem;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	}

.results-page {
	padding: 2rem 4rem;
	margin-top: 1rem;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	}
@media only screen and (min-width: 700px) {
	.dashboard {
	width: 75%;
	}
}