@import "buttons.css";
@import "text.css";

.favorite-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	padding: 2rem;
}
.favorite-page > a {
	flex: 1;
	align-self: flex-start;
}
.all-favorites {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	color: #000;
}
.each-fav {
	background-color: #FCFCFC;
	border-radius: 4px;
	border-collapse: collapse;
	box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.4);
	color: #122375;
	display: flex;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	justify-content: flex-end;
	line-height: 1.7rem;
	list-style-type: none;
	margin-bottom: 10px;
	overflow: hidden;
}
.favTitle {
	cursor: pointer;
	flex: 2;
	max-height: 37px;
	padding: 1rem;
	overflow: hidden;
	white-space: nowrap;
}
.favTitle:hover {
	background-color: #DBBC34;
}
.favTitle p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn-unfav {
	border: none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background: #45538E;
	color: white;
	cursor: pointer;
	font-size: 1.5rem;
	height: 37px;
	padding-left: 10px;
	padding-right: 10px;
}
.btn-unfav:hover {
	background: #122375;
}
@media only screen and (min-width: 700px) {
	.favorite-page {
		width: 75%;
	}
}