@import "buttons.css";
@import "text.css";

	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
.header-bar {
	width: 100%;
	/* height: auto; */
	max-height: 15rem;
	background: url("/img/Nasa_blue_marble2.jpg") no-repeat center;
	background-size: contain;
	/* TODO */
	/* background-origin: border-box; */
	background-origin: content-box;
	/* position: fixed; */
	top: 0;
	left: 0;
}
#header-title {
	text-align: center;
	color: #DBBC34;
	/* color: #FCFCFC; */
	font-family: 'Audiowide', cursive;
	font-size: 5rem;
	text-transform: uppercase;
	background-color: rgba(18, 35, 117, .7);

	/* <i class="fas fa-globe-americas"></i> */
}
.head-link{
	text-decoration: none;
	color: #DBBC34;
}
/* TODO */
.btn-logout {
	margin-top: -3rem;
}
