@import "buttons.css";
@import "text.css";

	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
.header-bar {
	width: 100%;
	/* height: auto; */
	max-height: 11.8rem;
	background: url("/img/Nasa_blue_marble2.jpg") no-repeat center;
	background-size: fill;
	background-color: black;
}
#header-title {
	text-align: center;
	height: 100%;
	color: #DBBC34;
	/* color: rgba(18, 35, 117); */
	/* color: #FCFCFC; */
	font-family: 'Audiowide', cursive;
	font-size: 5rem;
	text-transform: uppercase;
	background-color: rgba(18, 35, 117, .7);
	display: flex;
  align-items: center;
	justify-content: center;
	/* <i class="fas fa-globe-americas"></i> */
}
.header-sub-title {
	color: #DBBC34;
	font-size: 2rem;
	text-align: center;
	background-color: rgba(18, 35, 117, .7);
}
.head-link{
	text-decoration: none;
	color: #DBBC34;
	/* color: rgba(18, 35, 117); */
	/* background-color: rgba(18, 35, 117, .7); */
	padding: 0 2rem;
}
.aside {
position: fixed;
top: 10;
left: 0;

}
.nav-bar {
	border: 2px dotted peachpuff;
	/* width: auto; */
	/* height: auto; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
/* TODO */
.btn-logout,
.btn-subscrip,
.btn-fav {
	border: 1px solid red;
	border-radius: 0;
	width: 100%;
	text-align: center;
}
.btn-subscrip,
.btn-fav {
	text-decoration: none;
}
