@import "buttons.css";
@import "text.css";

.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
.header-bar {
	width: 100%;
	max-height: 11.8rem;
	background: url("/img/Nasa_blue_marble2.jpg") no-repeat center;
	background-size: fill;
	background-color: black;
}
#header-title {
	text-align: center;
	height: 100%;
	color: #DBBC34;
	font-family: 'Audiowide', cursive;
	font-size: 5rem;
	text-transform: uppercase;
	background-color: rgba(18, 35, 117, .7);
	display: flex;
  align-items: center;
	justify-content: center;
}
.header-sub-title {
	color: #DBBC34;
	font-size: 1.8rem;
	text-align: center;
	background-color: rgba(18, 35, 117, .7);
}
.head-link{
	text-decoration: none;
	color: #DBBC34;
	padding: 0 2rem;
}
@media only screen and (max-width: 650px) {
	.header-sub-title {
		font-size: 1.4rem;
	}
}
@media only screen and (max-width: 470px) {
	.header-sub-title {
		font-size: 1rem;
	}
}