@import "buttons.css";
@import "text.css";

.land-home {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}
.link-reg {
	margin: 3rem 1rem;
}

@media only screen and (min-width: 700px){
	.land-home {
		width: 75%;
		padding: 2rem;
	}
}