@import "buttons.css";
@import "text.css";

	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */

.home {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 4rem;
}

.link-reg {
	margin: 3rem 1rem;
}
h2{
	margin: 3rem 0;
}