@import "buttons.css";
@import "text.css";

.login-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border: transparent;
	padding: 2rem;
	text-align: center;
}
.btn-form {
	justify-content: center;
	margin-top: 5rem;
}
.input-label {
	text-align: left;
}
Input {
	align-items: flex-start;
	margin: 0 0 0 0;
}
#password,
#username {
	width: 100%;
	line-height: 3rem;
	padding: .5rem;
}

