@import "buttons.css";
@import "text.css";
	/* positioning */
	/* display + box model */
	/* color */
	/* other */

.login-form {
	/* positioning */
	/* display + box model */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	/* color */
	/* text */
	/* other */
	border: transparent;
	/* 2px solid #222222; */
	padding: 2rem;
	text-align: center;
	margin: 0 auto;
}
.btn-form {
	justify-content: center;
	margin-top: 5rem;
}
.input-label {
	text-align: left;
	/* align-items: flex-start; */
	/* margin: 3rem 0 .5rem 0; */
}

Input {
	align-items: flex-start;
	margin: 0 0 0 0;
}
#password,
#username {
	width: 100%;
	line-height: 3rem;
	padding: .5rem;
	/* justify-content: center; */
}

/*
.login-form{
	text-align: center;
	width: 170px;
	margin: 0 auto;
}
#username,
#password,
.login-button { width: 100%; border-radius: 4px; }



*/