@import "buttons.css";
@import "text.css";

.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	background-color: rgba(18, 35, 117, .7);
	position: relative;
}
.dashboard-username {
	margin: 0;
	height: auto;
}
.user-welcome {
	width: 100%;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	letter-spacing: .5rem;
	text-align: center;
	padding: 1rem;
	color: #DBBC34;
	text-transform: uppercase;
	margin: 0;
}
.nav-ul {
	margin: 0;
	padding: 1rem;
	align-items: center;
}
.nav-li {
	display: block;
	background-color: transparent;
	list-style-type: none;
	text-align: center;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	text-transform: capitalize;
	background-color: transparent;
	color: #122375;
}
.nav-li:hover,
.nav-li:active {
	color: #DBBC34;
}

.menu-container {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 5px;
}

.menu-icon {
  background: none;
	border: none;
	color: #DBBC34;
	cursor: pointer;
  margin-bottom: 8px;
  position: relative;
  right: 0px;
  top: 3px;
}

.menu-icon:hover,
.menu-icon:focus {
	color: white;
}

.burger-menu {
  box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  display: block;
	position: relative;
	right: -10px;
	top: 3px;
  width: fit-content;
  z-index: 100;
}

.burger-menu {
	background: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  text-align: left
}

.burger-menu li {
	background: white;
	display: block;
}

.burger-menu li:hover,
.burger-menu li:focus {
	background: #DBBC34;
}

.burger-menu li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.burger-menu p {
	height: 100%;
	padding: 6px;
}

@media only screen and (min-width: 400px) {
	.nav-li {
		display: inline-block;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	.user-welcome {
		text-align: left;
	}
}
@media only screen and (min-width: 600px) {
	.user-welcome  {
		padding: .7rem;
		margin: 1rem 0 0 0;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: .3rem;
	}
	.nav-li {
		color: #FCFCFC;
		margin: 0 1rem ;
	}
	.nav-li a {
		color: #FCFCFC;
	}
	.nav-li a:hover {
		color: #DBBC34;
	}
}
@media only screen and (min-width: 700px) {
	.user-welcome  {
		padding: .7rem;
		margin: 1rem 0 0 0;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: .3rem;
	}
}