/* .radio-btns {
	margin-top: 2rem;
} */
/* The container */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: baseline;
	align-self:baseline;
	position: relative;
	padding-left: 3.5rem;
	margin-bottom: 1.2rem;
	cursor: pointer;
	font-size: 2.2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	width: 2rem;
	margin-top: .3rem;
	background-color: #808080;
	border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ecdc93;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color:#122375;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}