@import "buttons.css";
@import "text.css";
	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */

.register-form {
	width: auto;
	border: transparent;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.input-label-reg {
	margin-top: 3rem;

}
#email,
#username,
#password,
#passwordConfirm {
	width: 100%;
	line-height: 3rem;
	padding: .5rem;
	/* justify-content: center; */
}