@import "buttons.css";
@import "text.css";

.register-page {
	/* padding: 3rem; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
}