@import "buttons.css";
@import "text.css";

.register-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: auto;
	border: transparent;
	padding: .5rem;
}
.input-label-reg {
	margin-top: 2rem;
}
#email,
#username,
#password,
#passwordConfirm {
	width: 100%;
	line-height: 3rem;
	padding: .5rem;
}
@media only screen and (min-width: 700px) {
	.input-label-reg {
		margin-top: 3rem;
	}
	.register-form {
		padding: 1rem;
	}
}