@import "buttons.css";
@import "text.css";
@import "radio_btn.css";
@import "form.css";

	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
.title-search {
	margin: 2rem 2rem 4rem 2rem;
}
#form-search {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem;
}
.input-label-div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.radio-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 4rem 0;
}
.btn-search {
	/* justify-content: center; */
	/* align-items: center; */
	margin-left: auto;
	margin-right: auto;
}
.search-by-terms {
	align-self: flex-start;
	margin-left: -1rem;
}