@import "buttons.css";
@import "text.css";
@import "radio_btn.css";
@import "form.css";

#form-search {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-top: 10%;
	width: 100%;
}
.input-label-div{
	width: 90%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.input-label-search {
	margin-bottom: 1rem;
}
#search-input {
	width: 95%;
	margin: 1rem 0;
}
.search-narrow {
	margin: 1rem 0;
	padding: .5rem 0 0 .4rem;
}
.search-by-terms {
	align-self: flex-start;
	margin-left: -1rem;
	padding: .5rem 0 0 .4rem;
}
.radio-row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 1rem 0;
	color: #122375;
}
@media only screen and (min-width: 760px) {
	.radio-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		margin: 1rem 0;
	}
	.search-narrow {
		margin: 0 1rem 0 0;
	}
	#search-input {
		max-width: 50%;
	}
	.container {
		margin: 0 1rem 1.2rem 1rem;
	}
}
