@import "buttons.css";
@import "text.css";

.search-results {
	background-color: #FCFCFC;
	color: #122375;
}
.ReactTable .-pagination .-btn:not([disabled]) {
  background-color:#DBBC34;;
  color: #122375;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background-color: #122375;
  color: #fff;
}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
	background: rgba(0, 0, 0, 0.05);
	background: #DBBC34;
}
.search-font {
	text-decoration: none;
	font-family: 'Bai Jamjuree', sans-serif;
	letter-spacing: .2rem;
	color: #122375;
}
.rt-td {
	padding: 0px;
}