@import "buttons.css";
@import "text.css";

.subscriptions-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
	padding: 2rem;
}
.no-sub{
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 3rem;
	line-height: 1.7rem;
}
.all-subscriptions {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	background-color: #FCFCFC;
	color: #000;
}
.each-sub {
	border-bottom: 1px solid #122375;
	border-collapse: collapse;
	padding: 1rem;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
	line-height: 1.7rem;
	list-style-type: none;
}
.each-sub:hover {
	background-color: #DBBC34;
}
li, a {
	text-decoration: none;
	color: #122375;
}
@media only screen and (min-width: 700px) {
	.subscriptions-page {
		width: 75%;
	}
}