
	/* positioning */
	/* display + box model */
	/* color */
	/* text */
	/* other */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root font size declared below to allow use of rem's  62.5% = 10px*/
html{
    font-size: 62.5%;
}
/* font-family: 'Bai Jamjuree', sans-serif;  body */
/* font-family: 'Montserrat', sans-serif;  titles and headers*/

/* logo fonts
	/* font-family: 'Audiowide', cursive; */
	/* font-family: 'Baloo Chettan', cursive; */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3.5rem;
}
h4 {
	font-size: 3rem;
}
h5 {
	font-size: 2.5rem;
}
h6 {
	font-size: 2rem;
}
p {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 1.5rem;
}
.input-label {
	color: #122375;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 2.5rem;
}
.link > Link {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 5.5rem;
}
#password,
#username,
#email,
#passwordConfirm {
width: 30rem;
line-height: 3rem;
padding: .5rem;
justify-content: center;
}
/* =============ICONS================= */

.fa, .fas, .far {
	font-size: 1.5rem;
	padding: .3rem;
	/* margin: 0 1rem; */
	color: #122375;
}
.fa-heart {
	color: red;
}
.fa-globe-americas {
color: #122375;
}
#world {
	color: #122375;
	/* margin-left: -3rem; */
}
/* =============BOXES in LOGIN SIGNUP ABOUT================= */

.box{
background-color: rgba(255, 255, 255, .4);
border: transparent;
border-radius: 2px;
}
